<a routerLink="/shipping">
    <h5>
        Check Shipping Prices
    </h5>
</a>

<div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency:"INR"}}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="form-group">
        <label for="usr">Name:</label>
        <input formControlName="name" type="username" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input formControlName="email" type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="mbl">Mobile:</label>
        <input formControlName="mobile" type="tel" class="form-control" id="mbl">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <pre>{{checkoutForm.value | json}}</pre>
</form>